body {
   font-family: Arial, sans-serif;
   line-height: 1.6;
   color: #333;
   background: #f9f9f9;
}

header {
    background-color: #333;
    color: fff;
    padding: 1em;
    text-align: center;
}

.cours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cours .card {
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.planning table {
    border-collapse: collapse;
    width:
}

